{% extends 'admin/master.html' %}
{% block body %}
  <h3>Edit Line</h3>

  <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="text">Text</label>
      <input type="text" name="text" id="text" class="form-control" value="{{ line.text }}">
    </div>

    <div class="form-group">
      {% if line.audio_file %}
        <audio controls>
          <source src="{{ url_for('admin_files.serve_audio', filename='lines/' + line.audio_file) }}">
        </audio>
      {% else %}
        No audio uploaded
      {% endif %}
    </div>

    <div class="form-group">
        {% if line.audio_file %}
          <label for="audio_file">{{ line.audio_file }} Uploaded!!</label>
        {% endif %}
      <input type="file" name="audio_file" id="audio_file" class="form-control-file">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{{ url_for('line.index_view', lesson_id=line.lesson_id) }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
